<div class="container">
  <div class="modes">
    <h1>{{ title }}</h1>
    <div class="icons">
      <i
        (click)="switchMode('card')"
        [class.active]="mode == 'card'"
        class="fas fa-th-large"
      ></i>
      <i
        (click)="switchMode('list')"
        [class.active]="mode == 'list'"
        class="fas fa-bars"
      ></i>
    </div>
  </div>
  <ng-content> </ng-content>
  <ng-container [ngSwitch]="mode">
    <div class="cards-layout" *ngSwitchCase="'card'">
      <div class="card-item" *ngFor="let item of items">
        <ng-container
          *ngTemplateOutlet="cardItemTemplate; context: { $implicit: item }"
        ></ng-container>
      </div>
    </div>
    <ul *ngSwitchCase="'list'" class="list">
      <li *ngFor="let item of items">
        <ng-container
          *ngTemplateOutlet="listItemTemplate; context: { $implicit: item }"
        ></ng-container>
      </li>
    </ul>
  </ng-container>
</div>
