.my-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.my-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  flex: 1;
}
.img-size {
  // object-fit: contain;
  // height: 193px;
  flex: 0 0 auto;
  max-height: 193px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-list {
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
:host {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
i {
  color: gray;
}
i:hover {
  color: orange;
  cursor: pointer;
}
.card-content {
  display: flex;
  h1 {
    flex: 1 1 auto;
    margin-top: 15px;
  }
  i {
    flex: 0 0 auto;
    font-size: 20px;
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: auto;
  }
}
.filter {
  margin-bottom: 20px;
}
.list-item-container {
  display: flex;
  margin-bottom: 20px;
  i {
    margin-top: auto;
  }
  img {
    width: auto;
    flex: 0 0 auto;
    max-height: 193px;
  }
  .list-item-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      word-break: normal;
    }
    padding-left: 15px;
  }
}
@media (max-width: 800px) {
  .list-item-container {
    img {
      max-width: 220px;
      height: auto;
      align-self: flex-start;
      flex: 1;
      min-width: 200px;
    }
  }
  .card-list {
    margin-left: auto;
    margin-right: auto;
  }
  .card-content h1 {
    font-size: 4vw;
  }
  .card img {
    width: 100%;
    height: auto;
    // object-fit: contain;
    align-self: flex-start;
  }
  .photo-title {
    font-size: 16px;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
