<div class="container">
  <div class="my-row">
    <div class="my-column">
      <app-card-list-view
        [title]="albumTitle"
        [items]="thumbnails"
        [mode]="mode"
        class="card-list"
      >
        <app-filter
          class="filter"
          (textChange)="filterValue = $event"
        ></app-filter>
        <div *appCardItem="let item">
          <div
            class="card"
            [hide]="!item.title.includes(filterValue)"
            [display]="'flex'"
            [style.background-color]="
              deleted.includes(item.id) ? 'red' : 'none'
            "
          >
            <img src="assets/imgs/169.png" alt="Image" class="img-size" />

            <div class="card-content">
              <h1>{{ item.title }}</h1>
              <i class="fas fa-trash" (click)="deletePhoto(item.id)"></i>
            </div>
          </div>
        </div>
        <li *appListItem="let item">
          <div
            class="list-item-container"
            [hide]="!item.title.includes(filterValue)"
            [display]="'flex'"
            [style.background-color]="
              deleted.includes(item.id) ? 'red' : 'none'
            "
          >
            <img src="assets/imgs/169.png" alt="Image" class="img-size" />

            <div class="list-item-content">
              <h3 class="photo-title">
                {{ item.title }}
              </h3>
              <i class="fas fa-trash" (click)="deletePhoto(item.id)"></i>
            </div>
          </div>
        </li>
      </app-card-list-view>
    </div>
  </div>
</div>
