.my-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.my-column {
  display: flex;
  flex-direction: column;
  //   flex-basis: 100%;
  flex: 1;
}
.img-size {
  object-fit: contain;
  height: 193px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-list {
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
:host {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
i {
  margin-top: auto;
  color: gray;
}
i:hover {
  color: orange;
  cursor: pointer;
}
.card-content {
  display: flex;
  h1 {
    flex: 1 1 auto;
    margin-top: 15px;
  }
  i {
    flex: 0 0 auto;
    margin-top: 25px;
    font-size: 20px;
    align-self: flex-start;
  }
}
.filter {
  margin-bottom: 20px;
}
.list-item-container {
  display: flex;
  margin-bottom: 20px;
  img {
    width: auto;
    flex: 0 0 auto;
    max-height: 193px;
  }
  .list-item-content {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      word-break: normal;
    }
    padding-left: 15px;
  }
}
@media (max-width: 700px) {
  .list-item-container {
    img {
      max-width: 220px;
      height: auto;
    }
  }
  .photo-title {
    font-size: 16px;
  }
  .card-list {
    width: min-content;
  }
  .container {
    width: 100%;
  }
}
