<div class="container">
  <div class="my-row">
    <h1 class="albums-title">Albumi porodice neke</h1>
  </div>
  <div class="my-row">
    <div class="my-column">
      <app-card-list-view [items]="albums" [mode]="mode" class="card-list">
        <div *appCardItem="let item">
          <div class="card">
            <div class="wrapper-thumbnail">
              <img src="assets/imgs/169.png" alt="Image" class="img-size" />
            </div>
            <h3>{{ item.id }}</h3>
          </div>
        </div>
        <li *appListItem="let item">
          <h2>{{ item.id }}</h2>
        </li>
      </app-card-list-view>
    </div>
  </div>

  <button (click)="switchMode()">Switch view</button>
</div>
