<div class="container">
  <div class="my-row">
    <div class="my-column">
      <app-card-list-view
        [title]="title"
        [items]="albums"
        [mode]="mode"
        class="card-list"
      >
        <div *appCardItem="let item">
          <div class="card">
            <div class="wrapper-thumbnail">
              <img src="assets/imgs/169.png" alt="Image" class="img-size" />
            </div>
            <div class="card-content">
              <h3 class="album-title" (click)="albumClick(item.id)">
                {{ item.title }}
              </h3>
              <h4 class="creator">kreirao: {{ item.creator.name }}</h4>
            </div>
          </div>
        </div>
        <li *appListItem="let item">
          <div class="list-item-container">
            <img src="assets/imgs/169.png" alt="Image" class="img-size" />

            <div class="list-item-content">
              <h3 class="album-title" (click)="albumClick(item.id)">
                {{ item.title }}
              </h3>
              <h4 class="creator">kreirao: {{ item.creator.name }}</h4>
            </div>
          </div>
        </li>
      </app-card-list-view>
    </div>
  </div>

  <button (click)="switchMode()">Switch view</button>
</div>
