.my-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.my-column {
  display: flex;
  flex-direction: column;
  //   flex-basis: 100%;
  flex: 1;
}
.img-size {
  object-fit: contain;
  height: 193px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-list {
  margin-left: auto;
  margin-right: auto;
}
.album-title:hover {
  color: orange;
  cursor: pointer;
}
.album-title {
  font-size: 26px;
}
.creator {
  color: gray;
}
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
:host {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.list-item-container {
  display: flex;
  margin-bottom: 20px;
  img {
    width: auto;
    flex: 0 0 auto;
    max-height: 193px;
  }
  .list-item-content {
    flex: 0 1 auto;
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    padding-left: 15px;
  }
}
@media (max-width: 700px) {
  .list-item-container {
    img {
      max-width: 220px;
      height: auto;
    }
  }
  .album-title {
    font-size: 16px;
  }
  .creator {
    font-size: 13px;
  }
  .card-list {
    width: min-content;
  }
  .container {
    width: 100%;
  }
}
